:root {
  --font-color: #ffffff;
  --font-color-sec: #d8d8d8;
  --font-color-sec_1: #9b9b9b;
  --font-default: #000000;
  --default-background: #fafafa;
  --btn-danger-background: #ff2558;
  --btn-default-background: #4885ed;
  --section-fontColor: #131840;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Merriweather Sans';
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: auto;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: var(--default-background);
}

* {
  font-style: normal;
  font-stretch: normal;
}

.btn {
  line-height: normal;
  text-align: center;
  color: var(--font-color);
  cursor: pointer;
}

.btn--outline {
  background: transparent;
  border-radius: 31.5px;
  border: 1px solid #30779e;
  font-size: 12px;
  letter-spacing: 0.4px;
  padding: 5px 15px;
  transition: 0.2s linear border;
}

.btn--danger {
  background: var(--btn-danger-background);
  border-radius: 31.5px;
  border: 1px solid #ff2558;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.4px;
  padding: 15px 20px;
  transition: 0.2s linear background;
}

.btn--default {
  background: var(--btn-default-background);
  border-radius: 25px;
  border: 1px solid #7e5dff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.4px;
  padding: 10px 15px;
  transition: 0.2s linear background;
}

.btn--danger:after, .btn--default:after {
  content: '\2192';
  margin-left: 5px;
}

.btn--outline:hover {
  border: 1px solid #ffffff;
}

.btn--danger:hover {
  background: #c5002e;
}

.btn--default:hover {
  background: #2e60b5;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

i {
  cursor: pointer;
}

.header {
  background-image: radial-gradient(circle at 49% 39%, #44519e, #131840);
  height: 764px;
}

.header .header--info {
  padding-top: 23px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.header .header--info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #30779e;
  padding-bottom: 8px;
}

.header .header--info-icon {
  cursor: pointer;
}

.header .header--mainText {
  text-align: center;
  padding: 0 35vw;
}

.header .header--mainText-cDiv {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.9px;
  -webkit-margin-after: 0;
}

.header .header--secText, .header .header--othText {
  text-align: center;
  padding: 0 32vw;
  margin-top: 5px;
}

.header .header--secText-cDiv {
  opacity: 0.4;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.61;
  letter-spacing: -0.5px;
  color: var(--font-color);
}

.header .header--btnDiv, .main .main--dwnld-btn {
  text-align: center;
}

.header .header--othText {
  text-align: center;
  padding: 0 30vw;
  margin-top: 15px;
}

.header .header--othText-cDiv {
  opacity: 0.4;
  font-size: 10px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: -0.3px;
  color: var(--font-color);
}

.header .header--dashBoardImg {
  text-align: center;
}

.header .header--dashBoardImg-image {
  width: 75vw;
  height: auto;
}

.main {
  margin-top: 25%;
}

.main .main--pText {
  text-align: center;
  padding: 0 38vw;
}

.main .main--pText-cDiv {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.9px;
  color: var(--section-fontcolor);
}

.main .main--img-btnDiv {
  display: flex;
  padding: 0 12vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img--btn {
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 20px;
  z-index: 5;
  text-align: center;
  position: relative;
  width: inherit;
  height: 4em;
  background: var(--font-default);
  transition: 0.2s linear background;
}

.img--btn:hover {
  background: #504d4d;
}

.img--btn-image {
  width: 100%;
  height: auto;
  opacity: 0.55;
}

.img--btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main .main--p1Text {
  text-align: center;
  padding: 0 16vw;
}

.main .main--p1Text-cDiv {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.5px;
  color: var(--font-color-sec_1);
}

.main .main--section_1 {
  display: flex;
  padding: 0 18vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.main .section_1--side_1, .main .section_2--side_1 {
  flex-basis: 50%;
}

.main .section_1--side_1-headerText {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.9px;
  color: var(--section-fontcolor);
}

.main .section_1--side_1-content, .main .main--section_3-dnldBtn {
  margin-top: 20px;
}

.main .section_1--side_1-contentText {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.5px;
  color: var(--font-color-sec_1);
}

.main .section_1--side_1-dwmldBtn {
  margin-top: 30px;
}

.main .section_1--side_2, .main .section_2--side_2 {
  flex-basis: 35%;
}

.card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--font-color);
  border: solid 1px #e3e3e3;
  padding: 20px 23px 17px 20px;
  position: relative;
}

.card::before, .card::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--font-color);
}

.card::before {
  left: 12px;
  top: 0;
  z-index: -1;
  height: 95%;
  margin-top: 4%;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.1);
}

.card::after {
  left: 22px;
  top: 0;
  z-index: -2;
  height: 90%;
  margin-top: 6%;
  opacity: 0.7;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.08);
}

.card--category {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42;
  letter-spacing: normal;
  color: #3bc4e2;
}

.card--title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: var(--font-default);
  margin-top: 8px;
}

.card--body {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: -0.1px;
  color: #8f8f8f;
  margin-top: 8px;
}

.card--footerDiv {
  display: flex;
  justify-content: space-between;
}

.card--footer {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: -0.1px;
  color: #8f8f8f;
  margin-top: 8px;
}

.card--share {
  display: flex;
  align-items: center;
}

.card--share img {
  cursor: pointer;
}

.main .main--section_2 {
  display: flex;
  padding: 0 16vw 0 12vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.main .section_2--side_2-header {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.9px;
  color: var(--section-fontcolor);
  margin-top: 33px;
}

.main .section_2--side_2-body {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.5px;
  color: var(--font-color-sec_1);
  margin-top: 11px;
}

.main .main--section_3 {
  height: 874px;
  background-image: radial-gradient(circle at 49% 39%, #44519e, #131840);
  margin-top: 4%;
  overflow: hidden;
}

.main .main--section_3-p1Text {
  text-align: center;
  padding-top: 2.5%;
  padding-left: 30vw;
  padding-right: 30vw;
}

.main .section_3-p1Text-cDiv {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.9px;
  color: var(--font-color);
}

.main .main--section_3-p2Text, .main .main--section_3-p3Text {
  text-align: center;
  padding-top: 20px;
  padding-left: 30vw;
  padding-right: 30vw;
}

.main .main--section_3-btnDiv {
  display: flex;
  padding-top: 30px;
  padding-left: 14vw;
  padding-right: 14vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main .section_3-p2Text-cDiv, .main .section_3-p3Text-cDiv {
  opacity: 0.4;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.61;
  letter-spacing: -0.5px;
  color: var(--font-color);
}

.shapeBtn--btnDiv {
  margin: 10px 0;
  z-index: 5;
  text-align: center;
  position: relative;
}

.shapeBtn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
}

.shapeBtn--textDiv {
  background: #5f669c;
  padding: 40px 55px;
  margin-top: 12px;
  border-radius: 10px;
}

.main .main--section_3-p4Text {
  text-align: center;
  padding-top: 20px;
  padding-left: 40vw;
  padding-right: 40vw;
}

.main .section_3-p4Text-cDiv {
  opacity: 0.4;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.61;
  letter-spacing: -0.5px;
  color: var(--font-color);
}

.main .main--section_3-Div {
  text-align: center;
  padding: 0 20vw;
}

.footer {
  height: 174px;
  background-color: var(--section-fontcolor);
}

.footer .footer--text1Div {
  padding: 0 40vw;
  margin-top: 30px;
  text-align: center;
}

.footer .footer--text1Div-txt, .footer .footer--text3Div-txt {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color)
}

.footer .footer--text2Div {
  padding: 0 40vw;
  margin-top: 16px;
  text-align: center;
}

.footer .footer--text2Div-txt {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
}

.footer .footer--text3Div {
  padding: 0 30vw;
  margin-bottom: 35px;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 479px) {
  .header {
    height: 565px;
  }
  .header .header--mainText, .header .header--secText, .header .header--othText, .footer .footer--text1Div, .footer .footer--text2Div, .footer .footer--text3Div {
    padding: 0 10vw;
  }
  .header .header--secText, .header .header--othText, .main .main--p1Text, .main .section_1--side_1-content, .main .section_2--side_2-body {
    text-align: justify;
  }
  .header .header--othText, .main .main--p1Text, .main .main--section_1, .main .main--pText, .main .main--section_2 {
    padding: 0 8vw;
  }
  .main .main--img-btnDiv {
    padding: 0;
  }
  .main .section_1--side_1, .main .section_2--side_1, .main .section_1--side_2, .main .section_2--side_2 {
    flex-basis: auto;
    text-align: center;
  }
  .card {
    margin-top: 20px;
  }
  .main .main--section_3 {
    height: 890px;
  }
  .main .main--section_3-p1Text, .main .main--section_3-p2Text, .main .main--section_3-p3Text, .main .main--section_3-btnDiv, .main .main--section_3-p4Text {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media (min-width: 480px) and (max-width: 1199px) {
  .header {
    height: 650px;
  }
  .main {
    margin-top: 24%;
  }
  .header .header--mainText, .header .header--secText, .header .header--othText, .footer .footer--text1Div, .footer .footer--text2Div, .footer .footer--text3Div {
    padding: 0 20vw;
  }
  .header .header--othText, .main .main--p1Text, .main .main--section_1, .main .main--pText, .main .main--section_2 {
    padding: 0 12vw;
  }
  .main .main--section_3 {
    height: 750px;
  }
  .main .main--section_3-p1Text, .main .main--section_3-p2Text, .main .main--section_3-p3Text, .main .main--section_3-btnDiv, .main .main--section_3-p4Text {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}